@font-face {
    src: url(../Assets/Fonts/Philosopher/Philosopher-Bold.ttf);
    font-family: Philosopher;
}

@font-face {
    src: url(../Assets/Fonts/Philosopher/Philosopher-BoldItalic.ttf);
    font-family: PhilosopherItalic;
}

@font-face {
    src: url(../Assets/Fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf);
    font-family: Berkshire;
}

.navbarHome{
    color: white;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    font-size: larger;
    justify-content: start;
    margin-top: 10px;
}

.navbarTitle{
    color: white;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    font-size: 50px;
    margin-left: 43vw;
    margin-top: -70px;
    /* position: absolute; */
    font-family: Philosopher;
    justify-items: center;
}

.body{
    background-color:cadetblue;
}

.bgHome{
    background-image: url(../Assets/image-asset.jpeg);    
    background-repeat: no-repeat;
    background-size: cover;
}

.homeHeader{
    color: aliceblue;
    text-shadow: -2px 3px 3px rgba(254, 157, 0, 0.392);
    font-size: 58px;
    margin-left: 100px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-top: 20vh;
    justify-content: center;
    font-family: Philosopher;
}

.homeLetter{
    color: aliceblue;
    text-shadow: -2px 3px 3px rgb(254, 156, 0);
    font-size: 150px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-left: 167px;
    margin-top: -90px; 
    justify-content: center;
    font-family: Berkshire;
    position: absolute;
}

.homeButton{
    background-color: aliceblue;
    height: 85px;
    width: 300px;
    margin-left: -45px;
}

.buttonText{
    font-family: Philosopher;
    margin-top: 10px;
    font-size: 40px;
}

.buttonTextSm{
    font-family: Philosopher;
    margin-top: 12px;
    font-size: 33px;
}

.bgPage1{
    background-image: url(../Assets/princess-mononoke-ForestSpirit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage2{
    background-image: url(../Assets/GreatDekuTree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage3{
    background-image: url(../Assets/WitchHead.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage4{
    background-image: url(../Assets/beautiful-studio-ghibli-scenery-forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage5{
    background-image: url(../Assets/Totoro-Rock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage6{
    background-image: url(../Assets/MagicForest.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage7{
    background-image: url(../Assets/GnomeTreeHouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage8{
    background-image: url(../Assets/ShrekBook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgPage9{
    background-image: url(../Assets/ForestVillage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

